.SidebarEntry__title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.SidebarEntry {
    border-bottom: 1px solid black;
    padding: 4px 10px;
    width: 100%;
    box-sizing: border-box;
}

.SidebarEntry:hover {
    background-color: #FECF64;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2) inset, 0 6px 20px 0 rgba(0,0,0,0.19) inset;
    cursor: pointer;
    box-sizing: border-box;
}

.SidebarEntry__summary{
    font-style: italic;
    font-size: 0.8em;
    margin-top: 3px;

}