.Viewport{
    position: fixed;
    left: 200px;
    right: 0px;
    top: 0px;
    bottom:0px;
    padding: 10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2) inset, 0 6px 20px 0 rgba(0,0,0,0.19) inset;
    overflow-y: scroll;
    box-sizing: border-box;
}